<div class="slider">
  <ul class="slides">
    <% @posts.take(3).each do |post| %>
      <li>
        <%= image_tag 'underpass.png', alt: 'underpass' %>
        <div class="caption center-align">
          <h3><%= post.title %></h3>
          <%= link_to 'Прочети повече', post, class: 'waves-effect waves-light btn-large' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="row"></div>

<div class="row">
  <div class="col s8 m8 offset-s2 offset-m2">
    <% if @posts.empty? %>
      <h4>За жалост все още няма добавени новини ... :(</h4>
    <% else %>
      <h4>Последни новини</h4>
      <%= render 'shared/posts_list' %>
    <% end %>
  </div>
</div>
