<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2018 wencakisa
      <a class="grey-text text-lighten-4 right" href="https://www.github.com/wencakisa/bgpodlez" target="_blank">GitHub repository</a>
    </div>
  </div>
</footer>
