<nav>
  <div class="nav-wrapper">
    <a href="/#" class="brand-logo">BGPODLEZ</a>

    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <%= render 'layouts/logged_user_nav' %>
      <% else %>
        <%= render 'layouts/non_logged_user_nav' %>
      <% end %>
    </ul>
    <ul id="mobile-nav" class="side-nav">
      <% if user_signed_in? %>
        <%= render 'layouts/logged_user_nav' %>
      <% else %>
        <%= render 'layouts/non_logged_user_nav' %>
      <% end %>
    </ul>
  </div>
</nav>
